.nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 50px;
  width: 100%;
}

.nav-p {
  font-size: 1rem;
  letter-spacing: 5px;
  margin: 50px 25px 25px 25px;
  cursor: pointer;
}

.nav-user-options {
  display: flex;
}
