.App {
  display: flex;
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.App-link {
  color: #09d3ac;
}

.nav-img {
  margin: 25px;
  position: absolute;
  width: 300px;
}
