.grow {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin-top: 350px;
  transition: all .2s ease-in-out;
}

.grow:hover {
  transform: scale(1.1);
}

.movie-img {
  align-items: center;
  background-color: #FFFFFF;
  height: 400px;
  margin: 40px 10px 0 10px;
  width: 350px;
}

.movie-text {
  align-items: center;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  height: 100px;
  margin: 0 10px 10px 10px;
  width: 350px;
}

.poster-img {
  width: 100%;
  height: 100%;
}

.movie-star {
  cursor: pointer;
  position: absolute;
  margin-top: 158px;
  width: 50px;
}

.movie-h3 {
  color: #000000;
  padding: 20px;
}
