form {
    align-items: center;
    background-color: #161616;
    border: 5px solid white;
    background-image: url('../../images/background-curtain.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    height:700px;
    padding: 30px;
    width: 800px;
    margin: auto;
    margin-top: 50px;
}

input, label {
    display: block;
    text-align: center;
    margin: 10px
}

input {
    width: 250px;
    height: 35px;
    border-radius: 5px;
}

h2 {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h3 {
    color: #CC0000;
}

button {
    margin: 10px;
}


