.login-form {
    align-items: center;
    background-color: #161616;
    background-image: url('../../images/red-curtain-&-empty-theatre.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    margin: auto;
    padding: 30px;
    width: 100vw;
}

.log-in-background {
    background-color: rgba(0, 0, 0, 0.55);
    border-radius: 15px;
}

input, label {
    display: block;
    margin: 20px;
    text-align: center;
}

input {
    border-radius: 5px;
    height: 35px;
    width: 425px;
}

h2 {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h3 {
    color: #CC0000;
}

.form-button {
    border-radius: 10px;
    height: 25px;
    margin: 10px;
    width: 100px;
}

.login-to-sign-up {
    margin-top: 10%;
}

.login-btn {
    border-radius: 10px;
    height: 25px;
    margin: 10px;
    width: 100px;
}

.login-btn:hover {
    background-color: #d3af37;
    transform: scale(1.2);

}
